.app-header button {
    margin: 0 7px;
    font-family: 'Montserrat';
    font-style: normal;
}

.app-header .spacer {
    flex: 1 1 auto;
}

.app-header .logo {
    width: 150px;
    height: 60px;
}

.app-header mat-toolbar {
    background-color: black;
    color: white;
    padding: 0 190px;
}

.app-header .mat-mdc-outlined-button:not(:disabled) {
    border-color: white;

}

