.card-livros {
    max-width: 250px;
    background-color: #FEF7FF;
    border-radius: 12px;
    margin-top: 20px;
}

.card-livros button {
    width: 60%;
    margin: 10 16px 48px;
    margin-left: 50px;
}

.card-livros img {
    width: 55.5%;
    text-align: center;
    margin-left: 50px;
    margin-top: 15px;
}

.card-livros p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    margin-top: 10px;
    text-align: center;
}

.mat-mdc-card{
 box-shadow: none;
 background-color: rgb(245, 231, 249);
}