<mat-card class="card-livros">
    <img mat-card-image
        src="https://m.media-amazon.com/images/I/91R8S52UP6L._AC_UF1000,1000_QL80_.jpg"
        alt="livro a paciente silenciosa">

    <mat-card-content>
        <p>
           A Paciente Silenciosa
        </p>
    </mat-card-content>


   <!--
    
    <mat-card-actions>
        <button mat-flat-button color="primary">EMPRESTAR</button>
    </mat-card-actions>

    --->
</mat-card>

<mat-card class="card-livros">
    <img mat-card-image
        src="https://m.media-amazon.com/images/I/510k5EkYuWL._SL1000_.jpg"
        alt="livro a paciente silenciosa">

    <mat-card-content>
        <p>
           Garota Exemplar
        </p>
    </mat-card-content>
</mat-card>