

<div class="topo">
    <h1 mat-dialog-title>Crie sua conta</h1>
</div>

<mat-card class="card-cadastro">
    <mat-card-content>
<section class="modal-cadastro">
    <mat-dialog-content class="mat-typography">


        <div class="modal-container">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome e Sobrenome">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Nome e Sobrenome">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Senha">
            </mat-form-field>
        </div>

<hr>
        <section class="check">
            <mat-checkbox>Li e aceito os termos e condições</mat-checkbox>
          </section>

        <div mat-dialog-actions>
            <button mat-flat-button color="primary">CRIAR MINHA CONTA</button>
        </div>
        
    </mat-dialog-content>
</section>
</mat-card-content>
</mat-card>