<div class="topo">
    <h1 mat-dialog-title>Login</h1>
</div>

<mat-card class="card-cadastro-login">
    <mat-card-content>
<section class="modal-login">
<mat-dialog-content class="mat-typography">

    <div class="modal-container">
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Nome e Sobrenome">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Senha">
            <mat-icon matSuffix>visibility_lock</mat-icon>
        </mat-form-field>
    </div>


    <div mat-dialog-actions>
        <button mat-flat-button color="primary">ACESSAR MINHA CONTA</button>
    </div>

    <hr>
    <div class="conta">
        <p>Ainda não possui conta?</p>
        <a href="">Clique aqui </a>
    </div>
    
</mat-dialog-content>
</section>
</mat-card-content>
</mat-card>