<mat-card class="card-cadastro-livros">
    <mat-card-content>

        <div class="container">
            <mat-form-field appearance="outline">
                <mat-label>Titulo</mat-label>
                <input matInput placeholder="Titulo">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Autor</mat-label>
                <input matInput placeholder="Autor">
            </mat-form-field>





            <mat-form-field appearance="outline" class="sinopse">
                <mat-label>Sinopse</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>






        <div class="container">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome e Sobrenome">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Nome e Sobrenome">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Senha">
            </mat-form-field>
        </div>

        <hr>

        <div mat-dialog-actions>
            <button mat-flat-button color="primary">CADASTRAR LIVRO</button>
        </div>

    </mat-card-content>
</mat-card>