<app-banner src="assets/imagens/banner6.png" alt="Banner da aplicação bookwave">
</app-banner>

<app-container>
    <div class="vermais">
        <button mat-stroked-button color="primary">VER MAIS</button>
    </div>

    <h2>A biblioteca tá ON</h2>
    <div class="card-wrapper">
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
    </div>


    <div class="vermais">
        <button mat-stroked-button color="primary">VER MAIS</button>
    </div>
    <h2>Queridas & queridos: da Bookwave</h2>
    <div class="card-wrapper">
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
    </div>

    <h2>Depoimentos</h2>
    <div class="card-wrapper">
        <app-card-depoimento></app-card-depoimento>
        <app-card-depoimento></app-card-depoimento>
        <app-card-depoimento></app-card-depoimento>
    </div>

</app-container>
<app-container color="primary" class="fundo">
</app-container>



