<app-banner src="assets/imagens/banner6.png" alt="Banner da aplicação bookwave">
</app-banner>

<app-container>
    <h2>Lidos da semana</h2>
    <div class="card-wrapper">
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
        <app-card-livros></app-card-livros>
    </div>
    <h2>Depoimentos</h2>
</app-container>