<app-container  color="primary" class="fundo">

</app-container>


<footer class="app-footer">
    <app-container>
        <div class="inner">
            <ul>
                <li>
                    <img class="logomenor" src="assets/imagens/logobookwave.png" alt="">
                </li>
                <li>
                    Melhor site de compartilhamento de livros
                </li>
                <li>
                    Desenvolvido por Beatriz. Projeto Bookwave
                </li>
            </ul>


            <ul class="sociais">
                <p>Acesse nossas redes:</p>
                <li>
                    <button mat-icon-button>
                        <img src="assets/icones/whatsapp.png" alt="ícone do whatsapp">
                    </button>
                </li>

                <li>
                    <button mat-icon-button>
                        <img src="assets/icones/instagram.png" alt="ícone do instagram">
                    </button>
                </li>

                <li>
                    <button mat-icon-button>
                        <img src="assets/icones/twitter.png" alt="ícone do twitter">
                    </button>
                </li>
            </ul>
        </div>
    </app-container>
</footer>